<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<title>PERF - LK</title>
		<link rel="stylesheet" href="css/perform.css"/>
		<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.js"></script>
		<script src="https://unpkg.com/vue@2.3.4/dist/vue.js"></script>
	</head>
	<body>
		<div id="glowall" class="glowall">
			<div id="glodec" class="glodec_perform" ></div>
			<div id="header" class="header" ></div>
			<div id="content" class="content">
				<div id="dashboard" class="dashboard" ></div>
				<script src="js/dashboard.js"></script>
				<div class="app" id="app">

					<div id="app_global_value" class="app_global_value">
						<td>keepalive</td>
						<td>
							<input type="checkbox" id="" v-model="keepalive">
							<label for="checkbox">{{ keepalive }}</label>
						</td>
						<td>测试时间</td>
						<td><input type="text" maxlength="5" class="app_global_data"  v-model.number="time" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
						<td>并发数量</td>
						<td><input type="text" maxlength="5" class="app_global_data" v-model.number="concurrent" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></td>
					</div>


					<div id="app_content" class="app_content">
						<table>
							<tr>
								<th>编号</th>
								<th>ip</th>
								<th>port</th>
								<th>https</th>
								<th>method</th>
								<th>uri</th>
								<th>host</th>
								<th>opt</th>
							</tr>
							<tr v-cloak v-for="(item, index) of slist">
								<td>{{index+1}}</td>
								<td>{{item.ip}}</td>
								<td>{{item.port}}</td>
								<td>{{item.https}}</td>
								<td>{{item.method}}</td>
								<td>{{item.uri}}</td>
								<td>{{item.host}}</td>
								<td><a href="javascript:;" @click="showOverlay(index)">修改</a> |
									<a href="javascript:;" @click="del(index)">删除</a></td>
							</tr>
						</table>
					</div>
					<model :list='selectedlist' :isactive="isActive" v-cloak @change="changeOverlay" @modify="modify"></model>
					<div id="app_opt" class="app_opt" >
						<input type="button" class="app_opt_add" @click="add" value="添加">
						<input type="button" class="app_opt_start" @click="perform_start" value="开始">
					</div>
				</div>
				<script src="js/perfform-v0.1.js"></script>
				<div id="footer" class="footer" >
				<p>Powered by <a href="https://github.com/hitanxxx/LK">LK</a></p>
				<p>Copyright © Peppa Pig</p>
				</div>
			</div>
		</div>
	</body>
</html>
